In [3]:
#Q.1 String Slicing
#ans. string slicing can be done by 2 methods:
    #1.by using i-build slice() method
    #2.by using array slice [:]

Method1: Using the slice() method
The slice constructor creates a slice object representing the sert of indices specified by range(start, stop, step)

example of slice()

In [8]:
string= 'PRATIKSHA'
s1=slice(3)
s2=slice(1,5,3)
s3=slice(-1,-9,-2)
print('string slicing')
print(string[s1])
print(string[s2])
print(string[s3])

string slicing
PRA
RI
ASIA

In [12]:
string1='I am a student'
a=slice(1,3)
print(string1[a])

 a

In [18]:
s='pratiksha,payal,gauri'
s1=slice(1,11,2)
print(s[s1])

rtkh,

Method2:Using list/array slicing [::]

Example:

In [16]:
string='1,2,3,4,5,6'
print(string[:3])

1,2

In [19]:
s1="pratiksha,sneha,vyshnavi"
print(s1[:6])

pratik

In [20]:
course='datascience'
print(course[0:9:2])

dtsin

In [22]:
s= 'Yogesh'
print(s[2:])

gesh

In [25]:
#Q.2 Key features of lists in python.
#Ans.Lists are ordered.
    #Lists can contain any arbitrary objects.
    #List elements can be accessed by index.
    #Lists can be nested to arbitrary depth.
    #Lists are mutable.
    #Lists are dynamic.

In [ ]:
# Q.3 Compare and contrast lists and Tuples with example.
#Ans.

Lists:

In [ ]:
#Lists are mutable
#The implication of interaction is time consumung.
#List consumes more memmory.
#Lists have several built in method.
#Unexcepted changes and errors are more likely to occur.

example of list

In [26]:
list= ['pratiksha',23,56,'karle']
list

['pratiksha', 23, 56, 'karle']

In [28]:
type(list)

list

Tuples.

In [1]:
# Tuples are immutable 
#implication of iterations is comparatively faster.
# tuple data type is appropriate for accessing the elements.
#Touples consumes less memmory as compaed to lists.
#Touples does not have many built in methods.
#because touples dont change they are far less error prone.

Example of Tuples

In [2]:
t= (1,2,3,4,5)
t

(1, 2, 3, 4, 5)

In [3]:
type(t)

tuple

In [7]:
#Q.5 Describe the key feaures of sets and provide examples of their use.
# ans.
# 1.Data in sets are unique. 
#ex.
s={'pratiksha', 23,23,7,8,8,9 ,'karle','pratiksha'}
s

{23, 7, 8, 9, 'karle', 'pratiksha'}

In [13]:
#2. Sets are unordered
#ex.
s={'pratiksha', 23,23,7,8,8,9 ,'karle','pratiksha'}
s(1)

#shows an error

In [17]:
#3.sets are mutable
#ex.
s={'akshay','aakash','vikas'}
s

{'aakash', 'akshay', 'vikas'}

In [20]:
s.update(['vijay'])
s

{'aakash', 'akshay', 'vijay', 'vikas'}

In [21]:
s.add('pratiksha')
s

{'aakash', 'akshay', 'pratiksha', 'vijay', 'vikas'}

In [ ]:
# Q6.discuss the use cases of tuples and sets in Python programming.
#ans.

Tuples

In [23]:
t1=('banglore','karnataka','kerala')
t2=('haidarabad','maisure','aandhra')
t1+t2

('banglore', 'karnataka', 'kerala', 'haidarabad', 'maisure', 'aandhra')

sets

In [24]:
s1={'hiking','reading','coding'}
s2={'coding','photography','travelling'}
s1|s2

{'coding', 'hiking', 'photography', 'reading', 'travelling'}

In [25]:
s1&s2

{'coding'}

In [26]:
s1-s2

{'hiking', 'reading'}

In [27]:
s1^s2

{'hiking', 'photography', 'reading', 'travelling'}

In [28]:
#Q.7 Describe how to add, modify, and delete items in a dictionary with examples.
#ans.
d={'name':'pratiksha','contact':'9588','mail':'pkarle'}
d

{'name': 'pratiksha', 'contact': '9588', 'mail': 'pkarle'}

In [30]:
# add 
d['address']='Banglore'
d

{'name': 'pratiksha',
 'contact': '9588',
 'mail': 'pkarle',
 'address': 'Banglore'}

In [33]:
#modify
student={'ajay','vijay','aakash'}
marks={'80','90','100'}
{student:marks for student,mark in zip(student,marks)}

{'vijay': {'100', '80', '90'},
 'ajay': {'100', '80', '90'},
 'aakash': {'100', '80', '90'}}

In [34]:
student=['a','b','c']
marks=[8,9,10]
for i in zip (student,marks):
    print(i)

('a', 8)
('b', 9)
('c', 10)

In [36]:
# delete items
del [d]

In [43]:
# Q8. Discuss the importance of dictionary keys being immutable and provide examples.
#ans.
# #If the key were a mutable object, its value could change, and thus its hash could also change.
#since whoever changes the key object can't tell that it was being used as adictionary key, it can't move the entry around in the dictionary.
d={"a":'1,2',"b":'4,2',"c":'7,2'}
d

{'a': '1,2', 'b': '4,2', 'c': '7,2'}